@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To E-book Private Limited.</h1> 
</div>
<img src="https://images.pexels.com/photos/276005/pexels-photo-276005.jpeg" style="
    display: flex;
    width: 100%;
    border-radius: 100px;
    margin: 20px 0;
" alt="Alternate Text" />
